:root {
    //font-size: 17px;
}

* {
    font-family: "Nunito", sans-serif;
    @apply leading-loose;
}
h1, h2, h3 {
    @apply font-bold;
}
h1 {
    @apply text-3xl mb-6;
}
h2 {
    @apply text-2xl mb-4;
}
h3 {
    @apply text-xl mb-3;
}
p {
    @apply mb-2;
}
i, svg {
    @apply inline-block mb-2;
}
img {
    margin: 0 auto;
    @apply my-4;
}

iframe {
    @apply my-4;
}
canvas {
    margin: 0 auto;
}

.caveat,
p.caveat {
    font-size: 24px;
    font-family: "Caveat", cursive;
    @apply leading-normal;
    & > *,
    & > * > *,
    & > * > * > * > * > *,
    & > * > * > * > * > * > *,
    & > * > * > * > * > * > * > * {
        font-size: 24px;
        font-family: "Caveat", cursive;
        @apply leading-normal;
    }
    h1 {
        @apply text-4xl;
    }
}